<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Class:</b>
  <%= @book.book_class %>
</p>

<p>
  <b>Email:</b>
  <%= @book.user.email %>
</p>
<p>
  <b>Phone Number:</b>
  <%= @book.user.phone_number %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
